.tarjetas{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding-inline-start: 8%;
}

/* ////////////Media Query ///////// */

@media screen and (max-width: 390px) {
    .tarjetas {
      padding-inline-start: 6%;
      width: 100%;
      border-radius: 20px;
    }
  }