header {
    display: flex;
    justify-content: space-between;
    padding-left: 41px;
    padding-right: 41px;
}

.pokeballTitulo{
    animation-name: pkTitulo;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes pkTitulo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}

.titulo, .filtro{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.filtro{
    gap: 10px;
}