header {
    display: flex;
    justify-content: space-between;
    padding-left: 41px;
    padding-right: 41px;
}

.titulo, .filtro{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.filtro{
    gap: 10px;
}